

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(img/b1.jpeg);
    background-position: center top -400px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.opacidad {
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0; 
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 44px;
    color: whitesmoke;
    font-weight: 800;
    text-transform:uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 10px;
    color: aliceblue;
    display: block;
    left: 0;
}

.menu .navbarul li a:hover{
    color: black;
    border-bottom: 1px sollid ;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}



.header-txt {
    text-align: center;
    margin-bottom: 45px;
}


.header-txt h1 {
    font-size: 100px;
    color: whitesmoke;
    position: relative;
}

.header-txt p {
    color: whitesmoke;
    margin: 0 250px;
    padding: 25PX 0;
    position: relative;
}

section {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #191919;
    color: whitesmoke;
}


.section-txt {
    padding: 40px ;
}
.section-txt h2{
    font-size: 80px;
    margin-bottom: 20px;
}

.section-txt P {
    margin: 0 250px;
    padding: 25PX 0;
}

.container-img   {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 26px;
    row-gap: 26px;
}

.container-img img  {
    height: 300px;
    width: 220px;
    background-color: #fff;
}