

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(img/b2.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.opacidad {
    min-width: 1200px;
    min-height: 70vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 44px;
    color: whitesmoke;
    font-weight: 800;
    text-transform:uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 10px;
    color: aliceblue;
    display: block;
    left: 0;
}

.menu .navbarul li a:hover{
    color: black;
    border-bottom: 1px sollid ;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}



.header-txt {
    text-align: center;
    margin-bottom: 45px;
    color: wheat;
}
